<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Career Recommender</title>
    <!-- Include Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <style>
      .skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .skills-container .box {
        flex: 0 0 08%;
        margin-bottom: 20px;
      }
      .skills-container .select {
        width: 100%;
      }
      @media (max-width: 768px) {
        .skills-container .box {
          flex: 0 0 100%;
        }
      }
    </style>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title has-text-centered">Career Recommendation System</h1>

        <div class="box">
          <form method="POST">
            <div class="field">
              <label class="label"
                >Select your skills (hold CTRL or CMD to select
                multiple):</label
              >
            </div>
            <div class="skills-container">
              {% for category, skills in skill_categories.items() %}
              <div class="box">
                <h2 class="subtitle">{{ category }}</h2>
                <div class="select is-multiple">
                  <select name="skills" multiple size="5">
                    {% for skill in skills %}
                    <option value="{{ skill }}">{{ skill }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="field">
              <label class="label">Filter by Industry (optional):</label>
              <div class="control">
                <div class="select">
                  <select name="industry">
                    <option value="">--Select Industry--</option>
                    {% for industry in industries %}
                    <option value="{{ industry }}">{{ industry }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>

            <div class="field is-grouped is-grouped-centered">
              <div class="control">
                <button class="button is-primary" type="submit">
                  Get Recommendations
                </button>
              </div>
            </div>
          </form>
        </div>

        {% if jobs %}
        <div class="box">
          <h2 class="subtitle">Recommended Job Profiles:</h2>
          <ul>
            {% for job in jobs %}
            <li>{{ job }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </section>
  </body>
</html>
